@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .main-grid {
    grid-template-columns: 0.2fr 1fr;

    grid-template-areas: "sidebar restofstuff";
  }
  .btn-menu {
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(
        to left,
        rgba(3, 127, 255, 0.2) 50%,
        lightblue 50%
      )
      right;
    background-size: 200%;
    transition: 0.5s ease-out;
  }
  .btn-menu :hover {
    background-position: left;
  }
}

* {
  --bg-blue-color: "#181C2B";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
