.underlineanimation1 {
  position: relative;
}

.underlineanimation1:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underlineanimation-1 {
  position: relative;
}

.underlineanimation-1:before {
  content: " ";
  height: 3px;
  width: 0;
  display: block;
  transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: makeline1 1s infinite 1s;
}

.underlineanimation-1:after {
  content: " ";
  height: 3px;
  width: 0;
  display: block;
  transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  position: absolute;
  right: 0;
  bottom: 0;
  animation: makeline2 1s infinite 2s;
}

@keyframes makeline1 {
  0% {
    width: 0;
    background: white;
  }
  100% {
    width: 100%;
    background: black;
  }
}

@keyframes makeline2 {
  0% {
    width: 100%;
    background: black;
  }
  100% {
    width: 0;
    background: white;
  }
}

@keyframes border-dance {
  from {
    background-position: 0% bottom;
  }
  to {
    background-position: 100% bottom;
  }
}
.underlineanimation {
  background-image: linear-gradient(to right, white 50%, transparent 0%);
  background-size: 6px 4px;
  background-repeat: repeat-x;
  background-position: 0% bottom;

  animation-name: border-dance;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
